{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "dashboard/assets/img/apple-icon.png"%}">
    <link rel="icon" type="image/png" href="{% static "dashboard/img/favicon.png"%}">
    <title>
        Network Planning
    </title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />

    <link href="{% static "dashboard/css/nucleo-icons.css"%}" rel="stylesheet" />
    <link href="{% static "dashboard/css/nucleo-svg.css"%}" rel="stylesheet" />
    <link href="{% static 'dashboard/css/nucleo-svg.css'%}" rel="stylesheet" />
    <link id="pagestyle" href="{% static "dashboard/css/soft-ui-dashboard.min.css?v=1.0.7"%}" rel="stylesheet" />

    <style>
        .async-hide {
        opacity: 0 !important
        }
    </style>
</head>
<body class="g-sidenav-show  bg-gray-100">
    <div>{% block content%}{% endblock content %}</div>
</body>
</html>