{% load static %}
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow border-radius-xl" id="navbarBlur" style = "padding: 20px; margin: 20px">
    <!--style="background-image: url({% static 'dashboard/img/curved-images/curved0.jpg' %}); background-position-y: 50%;"-->
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
            <h6 class="font-weight-bolder mb-0">{{ title }}</h6>
        </nav>
    </div>
<div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
    <ul class="navbar-nav  justify-content-end">
        <li class="nav-item d-flex align-items-center">
            <a class="btn btn-outline-primary btn-sm mb-0 me-3" target="_blank"
               href="{% url 'profile' %}">Профиль</a>
        </li>
        <li class="nav-item d-flex align-items-center">
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn  btn-sm mb-0 me-3">
                        <span class="nav-link-text text-danger ms-1">Выйти</span>
                    </button>
                </form>
        </li>
    </ul>
</div>
 </nav>