{% extends "account/base.html" %}
{% load static %}
{% block title %}Network Planning{% endblock title %}
{% block header %}Профиль{% endblock header %}
{% block include_navbar %}
    {% include "account/navbar.html" with title="Профиль" %}
{% endblock %}
{% block content %}
    <section class="py-sm-7 py-5 position-relative">
        <div class="container">
            <div class="row">
                <div class="col-12 mx-auto">
                    <div class="row py-lg-7 py-5">
                        <div class="col-lg-3 col-md-5 position-relative my-auto">
                            <img class="img border-radius-lg max-width-200 w-100 position-relative z-index-2"
                                 src="{{ user.user_image }}" alt="User Image">
                        </div>
                        <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mt-sm-0 mt-4">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <h4 class="mb-0">{{ user.first_name }} {{ user.last_name }}</h4>
                                <div class="d-block">
                                    <button
                                            type="button"
                                            class="btn btn-sm btn-outline-info text-nowrap mb-0"
                                            id="openModalWorkerBtn"
                                            data-bs-toggle="modal"
                                            data-bs-target="#userModal"
                                    >
                                        Изменить
                                    </button>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-auto">
                                    <span class="h6">Должность</span>
                                    <span>{{ user.position }}</span>
                                </div>
                                <div class="col-auto">
                                    <span class="h6">Подразделение</span>

                                </div>
                            </div>
                            <p class="text-lg mb-0">
                                О сотруднике: {{ user.about_user }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <!-- Модальное окно -->
    <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Редактировать данные пользователя {{ user.first_name }} {{user.last_name }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <form role="form" action="{% url 'profile' %}" method="post">
                <div class="modal-body">

                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Адрес электронной почты</label>
                            <input
                                    type="email"
                                    class="form-control"
                                    id="exampleFormControlInput1"
                                    name = "email"
                                   value={{ user.email }}>
                        </div>
                       <div class="form-group">
                           <label for="exampleFormControlInput2">Имя</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="exampleFormControlInput2"
                                    name = "first_name"
                                    value={{ user.first_name }}>
                        </div>
                        <div class="form-group">
                           <label for="exampleFormControlInput">Фамилия</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="exampleFormControlInput"
                                    name = "last_name"
                                   value={{ user.last_name }}
                            >
                        </div>
                        <div class="form-group">
                           <label for="exampleFormControlInput">Должность</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="exampleFormControlInput"
                                    name = "position"
                                   value={{ user.position }}
                            >
                        </div>
                          <div class="form-group">
                           <label for="exampleFormControlInput">Фотография</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="exampleFormControlInput"
                                    name = "user_image"
                                    value ="{{ user.user_image }}">
                        </div>
                        <div class="form-group">
                           <label for="exampleFormControlTextarea1">О себе</label>
                            <textarea
                                    class="form-control"
                                    id="exampleFormControlTextarea1"
                                    name = "about_user"
                                    rows="3">{{ user.about_user }}
                            </textarea>
                        </div>

            </div>
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть
                </button>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </form>
        </div>
    </div>
    </div>
    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </section>
{% endblock %}